<!DOCTYPE html>
<html>
<head>
  <title>Hi. I'm Lee.</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'layouts/nav'%>
<hr>
<br>
<%= yield %>

<hr>
Current User ID: <%= session["user_id"].inspect %><br>
<%= params.inspect %>
<br>
<% if current_user != nil %>
  The person who's logged in: <%= current_user.email %> |
<!-- method delete overrides button's normal behavior of POST -->
  <%= button_to "Log Out", sessions_path, method: :delete %>

<!-- if user is not logged in, shows signup and log in at top -->
<!--  -->
<% else %>
  <%= button_to "Sign Up", new_user_path, method: :get %>
  <%= link_to "Log In", new_sessions_path %>
<% end %>

</body>
</html>
